.container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .form-group {
    margin-bottom: 1.5rem;
  }
  
  .table {
    margin-top: 2rem;
    width: 100%;
  }
  
  th, td {
    text-align: center;
  }
  